.Search{
    display: flex;
    flex-direction: row;
}
.left-search{
    flex: 1;
    /* Set border */
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    /* Set radius */
    border-top-left-radius: 40%;
    border-bottom-left-radius:40% ;
}
.middle-search{
    flex: 1;
}
.right-search{
    flex: 1;
}
#input_search{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left:none ;
    border-right: none;
}
#input_search:focus{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: none;
    border-right: none;
}
