.Search{
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.left-search{
    flex: 1;
}
.middle-search{
    flex: 1;
    display: flex;
    align-items: center;
}
.right-search{
    flex: 1;
}
#input_search{
    outline-style: none;
    border-style: none;
}